body {
    background: #fafafa;

}

.dino {
    width: 60px;
    height: 60px;
    background-image: url(img/dino.png);
    position: absolute;
    bottom: 0;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(img/cactus.png);
}

.game-over {
    text-align: center;
    color: #666666;
    margin-top: 50px;
    font-family: arial;
}

@keyframes slide {
    from {
        background-position: 7000%;
    }
    to {
        background-position: 0;
    }
}

.background {
    position: absolute;
    bottom: 0;
    background-image: url(img/background.png);
    background-repeat: repeat-x;
    animation: slide 200s infinite linear;
    width: 99%;
    height: 200px;
}

.placar {
    display: flex;
    justify-content: center;
}

.pontos {
    margin-top: 80px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: #666666;
    
}

#pontuacao {
    width: 80px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 36px;
    border-style: solid;
    border-width: thin;
    border-color: #666666;
}